body {
    background-color: #f4f6f9; /* Fondo claro para contrastar con tu ERP */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#contenedor-prueba {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    border-top: 8px solid #D32F2F; /* Rojo de tu ERP */
    text-align: center;
}

h1 {
    color: #333;
}
